@charset "utf8";


body#result {
    margin: 0px;
    padding: 0px;
}

#result #container {
    width: 768px;
    margin: 10px auto;
}
#result .graph {
    width : 100%;
    height: 384px;
    margin: 8px auto;
}
